body {
    font-family: 'Segoe UI', sans-serif;
    background:rgb(61, 42, 61);
    padding: 30px;
    max-width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #60bda1;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 8px;
    font-size: 16px;
}

button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none ;
    padding: 0;
}

li {
    background: rgb(193, 210, 167);
    padding: 10px 15px;
    margin: 10px 30px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

li span {
    flex-grow: 1;
    margin-left: 10px;
}